.li2{
    list-style-type: none;
    font-size: 50px;
    margin-top: 25%;
    float: left;
    
    
}

#home_mid_text h1{
   
}
.mide_text{
    width: 40%;
}
#home_box{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    margin: auto;
}
#home_box .box{
    height: auto;
    padding:2%;
    background-color: white;
    box-shadow: -6px 1px 8px 4px rgba(0, 0, 0, 0.1);

}
#home_box .box li{
    color: rgb(40, 134, 221);
    font-size: 25px;
    margin-bottom: 5px;
    list-style-type: none;
}
#home_box .box h3{
    
}
#home_box .box p{
    text-align: left;
}
/* home end */

#about{
    padding-top: 2%;
    padding-bottom: 5%;
}
#about li{
    margin-top: 3px;
    list-style-type: none;
}
#counter{
    padding: 3%;
    background-color: rgba(197, 232, 252, 0.596);
    font-family: 'Raleway', sans-serif;
}
#counter li{

    font-size: 20px;
    list-style-type: none;
}
/* counter end */
#about_video{
    text-align: justify;
}
#about_video li{
    list-style-type: none;
}
#about_video li i{
    font-size: 20px;
}
/* end */
#client {
    width: auto;
    margin: auto;
    justify-content: center;
    background-color: rgba(167, 173, 173, 0.199);
}
#client img{
    width:10%;
    color: black;
}
/* end */



.owl-carousel .item .top{
    width: auto;
    height: 200px;
    padding-bottom: 5%;
    text-align: justify;
    background-color: rgba(168, 172, 172, 0.192);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 49% 84%, 38% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 49% 84%, 38% 75%, 0% 75%);
}
.owl-carousel .item .top i{
    color:black;
    font-size: 20px;
}
.owl-carousel .item{
    padding: 5%;
}
.owl-carousel .item .down img{ 
    width: 30%;
    border-radius: 50%;
    justify-items: center;
    margin: auto;
}
/*owl-carousel end */
#services{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    background-color: rgba(157, 235, 235, 0.192);
}
#services .card{
    width: 30%;
    margin:auto;
    margin-top: 2%;
    padding: 4%;
    border: none;
}
#services .card .card-img-top{
    
}
#services .card .card-img-top i{
  font-size: 40px;
  margin-left: 40%;
}
#services .card h5{
    text-align: center;
}
/* services end */
#call_to_action{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(51, 149, 240);
}
#call_to_action .btn{
    width: 20%;
    margin: auto;
}
/* end */
  /* protfolio */
        /*----------  Container menu iso-gallery  --isotop--------*/
        .protflio_menu_iso {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            font-family: 'Ibarra Real Nova', serif;
            
            margin: 4rem 0;
            }
            
            .protflio_menu_iso .menu_iso li {
            float: left;
            list-style: none;
            }
            
            
            .protflio_menu_iso .menu_iso li a {
            color: rgb(20, 20, 20);
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: 1px solid white;
            
            }
            
            .protflio_menu_iso .menu_iso li a:hover {
            color: #151c2f;
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            }
            
            @media screen and (max-width: 600px) {
            .protflio_menu_iso .menu_iso li a {
                padding: 15px;
                font-size: 0.8rem;
            }
            }
            
            /* Main settings isotopes images */
            .img_iso {
            position: relative;
            cursor: pointer;
            margin-top: 2%;
            }
            
            
            

            
            /*=============================================
            =     Isotopes Images                        =
            =============================================*/
            
            /* Blue Patterns --web design*/
/* isotop end */

#tame{
    padding: 2%;
    background-color: rgba(127, 142, 146, 0.131);
}
#tame .col-xs-6{
    width: 20%;
    margin: 5%;
    
}
/* tame end */

#price ul li{
    font-size: 20px;
    margin-top: 5px;
 list-style-type: none;
}
#price ul del{
    font-size: 18px;
}
#price_box{
    width: 30%;
    height: auto;
    padding: 5%;
    margin: auto;
}
#price .box2{
    color: white;
    background-color: rgb(40, 150, 241);
}
#price_box .btn{
    width: auto;
    margin-top: 3%;
    margin-left: 30%;
}
/* END */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /* FREQUENTLY ASKED QUESTIONS end */